language: ruby
before_install:
  - "if [[ $TRAVIS_RUBY_VERSION == 1.8.7 ]] ; then rvm rubygems latest-2.1 ; fi"
rvm:
  - jruby
  - ruby-head
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1
  - rbx
notifications:
  irc:
    channels:
      - "irc.freenode.org#rvm-test"
  email:
    recipients:
      - mpapis@gmail.com
    on_failure: change
matrix:
  allow_failures:
    - rvm: rbx
  fast_finish: true
